<section class="faq-section" id="faq">
  <div class="container">
    <h2 class="faq-subtitle">faq</h2>
    <ul class="faq-grid accordion-container">
      <li class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            <span class="ac-title">
              What programming languages are most often used in your
              project?</span
            >
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            <span class="ac-title"
              >What are the deadlines for the project?</span
            >
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            <span class="ac-title">What payment methods do you accept?</span>
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>

      <li class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            <span class="ac-title">How can I contact you?</span>
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            <span class="ac-title">Do you provide advice or support?</span>
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="ac ac-item-6">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            <span class="ac-title">
              What does the process of developing a software
              <span class="break"
                >product look like from idea to implementation?</span
              >
            </span>
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
